<div class="kbn-timepicker-body">

  <div [hidden]="!(!recent || recent.length === 0)" class="euiText">
    <p>
      No time history. Your most recent time ranges show up here, so you can easily view them later.
    </p>
  </div>

  <div>
    <ul class="list-unstyled">
      <li *ngFor="let option of recent">
        <a
          class="kuiLink"
          (click)="applyRecent(option)"
          tabindex="0" role="button"
        >
          {{option.display}}
        </a>
      </li>
    </ul>
  </div>
</div>
