<nav *ngIf="isAuthed" class="navbar sticky-top navbar-expand navbar-dark flex-column flex-md-row bg-primary">
    <a class="navbar-brand mr-0 mr-md-2" href="/"><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarHeader">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarHeader">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/mymeetings/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-flex">
        <button class="btn btn-lg btn-primary" (click)="logout()">
            <span class="input-group-text fas fa-sign-out-alt" style="background: transparent;border: transparent"></span>
        </button>
    </ul>
</nav>
<router-outlet></router-outlet>
