<div class="container-fluid">
    <div class="mt-1 clearfix"  [style.width.px]="mainBodyWidth">
      <div class="loadingIndicator" [ngClass]="isLoading ? '': 'ng-hide'" [hidden]="!isLoading" aria-hidden="true">
        <div class="loadingIndicator__bar"></div>
      </div>

        <span class="filter_txt font-weight-bold float-left">
            {{startTimeDisplay}} -- {{endTimeDisplay}}
        </span>

      <div class="d-flex justify-content-end">
          <div class="kuiLocalMenu">
            <button
              class="kuiLocalMenuItem"
              (click)="toggleRefresh()"
              [hidden]="!(refreshInterval > 0)"
            >
              <span
                class="kuiIcon"
                aria-hidden="true"
                [ngClass]="refreshEnabled ? 'fas fa-pause' : 'fas fa-play'"
              ></span>
            </button>

            <button
              class="kuiLocalMenuItem"
              [ngClass]="{'kuiLocalMenuItem-isSelected': isCurrent('interval') }"
              (click)="toggleInterval()"
            >
              <span [hidden]="!(refreshSetting.interval === 0)">
                <i aria-hidden="true" class="kuiIcon fas fa-redo-alt"></i> Auto-refresh
              </span>

              <span
                [hidden]="!(refreshSetting.interval > 0)"
              >
                {{ prettyInterval() }}
              </span>
            </button>

            <button
              class="kuiLocalMenuItem"
              (click)="moveTimeBack()"
              aria-label="Move backward in time"
            >
              <span
                class="kuiIcon fas fa-chevron-left"
                aria-hidden="true"
                tooltip="Move backward in time"
              ></span>
            </button>

            <button
              class="kuiLocalMenuItem navbar-timepicker-time-desc"
              [ngClass]="{'kuiLocalMenuItem-isSelected': isCurrent('filter')}"
              (click)="toggleFilter()"
              aria-label="Open time range picker"
              aria-haspopup="true"
            >
              <span aria-hidden="true" class="kuiIcon far fa-clock" style="padding-right: 5px;"></span>
              <span class="d-flex align-middle">{{timeRangeDisplay}}</span>
            </button>

            <button
              class="kuiLocalMenuItem"
              (click)="moveTimeForward()"
              aria-label="Move forward in time"
            >
              <span
                aria-hidden="true"
                class="kuiIcon fas fa-chevron-right"
                tooltip="Move forward in time"
              ></span>
            </button>
          </div>
        </div>
    </div>
    <div class="clearfix" [style.width.px]="mainBodyWidth" [hidden]="!activeTab">
      <app-datetime-range-picker
        [inActiveTab]="activeTab"
        (close)="activeTab=''"
        [inInterval]="{value: refreshSetting.interval}"
        (intervalSelect)="onIntervalSelect($event)"
        (timeSelect)="onTimeSelect($event)"></app-datetime-range-picker>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist" [style.width.px]="mainBodyWidth">
        <li class="nav-item">
            <a class="nav-link active" id="conf-general-tab" data-toggle="tab" href="#conf-general"
                role="tab">会议概况</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="call-general-tab" data-toggle="tab"
                href="#call-general" role="tab">呼叫概况</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="room-tab" data-toggle="tab"
               href="#room" role="tab">云会议室</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" id="ep-tab" data-toggle="tab"
           href="#ep" role="tab">终端</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="stat-form-tab" data-toggle="tab"
           href="#stat-form" role="tab">统计报表</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="conf-general" role="tabpanel">
            <div class="mt-3 chart-header" [style.width.px]="mainBodyWidth">
                <span class="chart-header-label">会议 总数量：</span>
                <span class="chart-header-data">{{confTotalCount}}</span>
                <span class="chart-header-label">个</span>
                <span class="ml-3 chart-header-label">总时长：</span>
                <span class="chart-header-data">{{confTotalDurationSum}}</span>
                <span class="chart-header-label">小时</span>
            </div>
            <div echarts class="mt-1 chart-body" [style.width.px]="mainBodyWidth"
                    [options]="confChartOption"
                    (chartInit)="onConfGeneralChartInit($event)">
            </div>
        </div>
        <div class="tab-pane fade" id="call-general" role="tabpanel">
            <div class="mt-3 chart-header" [style.width.px]="mainBodyWidth">
                <span class="chart-header-label">呼叫 总数量：</span>
                <span class="chart-header-data">{{callTotalCount}}</span>
                <span class="chart-header-label">个</span>
                <span class="ml-3 chart-header-label">总时长：</span>
                <span class="chart-header-data">{{callTotalDurationSum}}</span>
                <span class="chart-header-label">小时</span>
            </div>
            <div echarts class="mt-1 chart-body" [style.width.px]="mainBodyWidth"
                    [options]="callChartOption"
                    (chartInit)="onCallGeneralChartInit($event)">
            </div>
        </div>
      <div class="tab-pane fade" id="room" role="tabpanel">
        <div class="mt-3 chart-header" [style.width.px]="mainBodyWidth">
          <span class="chart-header-label">会议 <strong>TOP10</strong> 总数量：</span>
          <span class="chart-header-data">{{roomTopConfTotalCount}}</span>
          <span class="chart-header-label">个</span>
          <span class="ml-3 chart-header-label">总时长：</span>
          <span class="chart-header-data">{{roomTopConfTotalDurationSum}}</span>
          <span class="chart-header-label">小时</span>

          <span class="chart-header-label ml-5"><strong>全部</strong> 总数量：</span>
          <span class="chart-header-data">{{roomConfTotalCount}}</span>
          <span class="chart-header-label">个</span>
          <span class="ml-3 chart-header-label">总时长：</span>
          <span class="chart-header-data">{{roomConfTotalDurationSum}}</span>
          <span class="chart-header-label">小时</span>
        </div>
        <div echarts class="mt-1 room-top-chart-body chart-left" [style.width.px]="halfMainBodyWidth"
             [options]="roomTopCountChartOption"
             (chartInit)="onRoomTopCountChartInit($event)">
        </div>
        <div echarts class="mt-1 room-top-chart-body chart-right" [style.width.px]="halfMainBodyWidth"
             [options]="roomTopDurationSumChartOption"
             (chartInit)="onRoomTopDurationSumChartInit($event)">
        </div>
        <div echarts class="mt-1 room-capacity-chart-body chart-left" [style.width.px]="halfMainBodyWidth"
             [options]="roomCapacityCountChartOption"
             (chartInit)="onRoomCapacityCountChartInit($event)">
        </div>
        <div echarts class="mt-1 room-capacity-chart-body chart-right" [style.width.px]="halfMainBodyWidth"
             [options]="roomCapacityDurationSumChartOption"
             (chartInit)="onRoomCapacityDurationSumChartInit($event)">
        </div>
      </div>
      <div class="tab-pane fade" id="ep" role="tabpanel">
        <div class="mt-3 chart-header" [style.width.px]="mainBodyWidth">
          <span class="chart-header-label">呼叫 <strong>TOP15</strong> 总数量：</span>
          <span class="chart-header-data">{{callEpTopTotalCount}}</span>
          <span class="chart-header-label">次</span>
          <span class="ml-3 chart-header-label">总时长：</span>
          <span class="chart-header-data">{{callEpTopTotalDurationSum}}</span>
          <span class="chart-header-label">小时</span>

          <span class="chart-header-label ml-5"><strong>全部</strong> 总数量：</span>
          <span class="chart-header-data">{{callTotalCount}}</span>
          <span class="chart-header-label">次</span>
          <span class="ml-3 chart-header-label">总时长：</span>
          <span class="chart-header-data">{{callTotalDurationSum}}</span>
          <span class="chart-header-label">小时</span>
        </div>
        <div echarts class="mt-1 call-ep-top-chart-body chart-left" [style.width.px]="halfMainBodyWidth"
             [options]="callEpTopCountChartOption"
             (chartInit)="onCallEpTopCountChartInit($event)">
        </div>
        <div echarts class="mt-1 call-ep-top-chart-body chart-right" [style.width.px]="halfMainBodyWidth"
             [options]="callEpTopDurationSumChartOption"
             (chartInit)="onCallEpTopDurationSumChartInit($event)">
        </div>
      </div>
      <div class="tab-pane fade" id="stat-form" role="tabpanel">
        <div class="stat-form-nav">
          <div class="dropdown d-flex justify-content-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{statFormType}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [ngClass]="{'active': statFormType === 'Company' }"
                (click)="setStatFormType('Company')">Company</a>
              <a class="dropdown-item" [ngClass]="{'active': statFormType === 'Department' }"
                 (click)="setStatFormType('Department')">Department</a>
              <a class="dropdown-item" [ngClass]="{'active': statFormType === 'User' }"
                 (click)="setStatFormType('User')">User</a>
            </div>
          </div>
          <div *ngIf="statFormType === 'Company'" class="list-group mt-3">
            <li *ngFor="let company of companyList; let i=index" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="m-0 p-0">
                <h5 class="mb-1">{{i + 1}} - {{company.name}}</h5>
                <p class="m-0 p-0"><small class="text-muted">{{company.address}}</small></p>
              </div>
            </li>
          </div>
          <div *ngIf="statFormType === 'Department'" class="list-group mt-3">
            <li *ngFor="let department of deptList; let i=index" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="m-0 p-0">
                <h5 class="mb-1">{{i + 1}} - {{department.fullName}}</h5>
              </div>
            </li>
          </div>
          <div *ngIf="statFormType === 'User'" class="list-group mt-3">
            <li *ngFor="let user of userList; let i=index" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="m-0 p-0">
                <h5 class="mb-1">{{i + 1}} - {{user.displayName}}</h5>
                <p class="m-0 p-0"><small class="text-muted">{{user.name}}</small></p>
              </div>
            </li>
          </div>
        </div>
        <div class="stat-form-table" [style.width.px]="statFormTableWidth">
          <div [hidden]="!(statFormType === 'Company')">
          <table id="companyTable" class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">公司名</th>
              <th scope="col">会议数</th>
              <th scope="col">会议全部呼叫平均数</th>
              <th scope="col">会议内部呼叫平均数</th>
              <th scope="col">平均会议时长</th>
              <th scope="col">全部呼叫数</th>
              <th scope="col">全部呼叫平均时长</th>
              <th scope="col">内部呼叫数</th>
              <th scope="col">内部呼叫平均时长</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupStat of companyStatList; let i=index">
              <th scope="row">{{i}}</th>
              <td>{{groupStat.group.company.name}}</td>
              <td>{{groupStatConfCntSum(groupStat)}}</td>
              <td>{{groupStatConfCallCntAllAvg(groupStat)}}</td>
              <td>{{groupStatConfCallCntSelfAvg(groupStat)}}</td>
              <td>{{groupStatConfDurationAvg(groupStat)}}</td>
              <td>{{groupStatCallCntAll(groupStat)}}</td>
              <td>{{groupStatCallDurationAllAvg(groupStat)}}</td>
              <td>{{groupStatCallCntSelf(groupStat)}}</td>
              <td>{{groupStatCallDurationSelfAvg(groupStat)}}</td>
            </tr>
            </tbody>
          </table>
          </div>
          <div [hidden]="!(statFormType === 'Department')">
          <table id="deptTable"   class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">公司名</th>
            <th scope="col">部门名</th>
            <th scope="col">会议数</th>
            <th scope="col">会议全部呼叫平均数</th>
            <th scope="col">会议内部呼叫平均数</th>
            <th scope="col">平均会议时长</th>
            <th scope="col">全部呼叫数</th>
            <th scope="col">全部呼叫平均时长</th>
            <th scope="col">内部呼叫数</th>
            <th scope="col">内部呼叫平均时长</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let groupStat of deptStatList; let i=index">
            <th scope="row">{{i}}</th>
            <td>{{groupStat.group.company.name}}</td>
            <td>{{groupStat.group.dept.name}}</td>
            <td>{{groupStatConfCntSum(groupStat)}}</td>
            <td>{{groupStatConfCallCntAllAvg(groupStat)}}</td>
            <td>{{groupStatConfCallCntSelfAvg(groupStat)}}</td>
            <td>{{groupStatConfDurationAvg(groupStat)}}</td>
            <td>{{groupStatCallCntAll(groupStat)}}</td>
            <td>{{groupStatCallDurationAllAvg(groupStat)}}</td>
            <td>{{groupStatCallCntSelf(groupStat)}}</td>
            <td>{{groupStatCallDurationSelfAvg(groupStat)}}</td>
          </tr>
          </tbody>
        </table>
          </div>
          <div [hidden]="!(statFormType === 'User')">
          <table id="userTable"  class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">公司名</th>
              <th scope="col">用户名</th>
              <th scope="col">会议数</th>
              <th scope="col">会议全部呼叫平均数</th>
              <th scope="col">会议内部呼叫平均数</th>
              <th scope="col">平均会议时长</th>
              <th scope="col">全部呼叫数</th>
              <th scope="col">全部呼叫平均时长</th>
              <th scope="col">内部呼叫数</th>
              <th scope="col">内部呼叫平均时长</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupStat of userStatList; let i=index">
              <th scope="row">{{i}}</th>
              <td>{{groupStatCompanyName(groupStat)}}</td>
              <td>{{groupStat.user.name}}</td>
              <td>{{groupStatConfCntSum(groupStat)}}</td>
              <td>{{groupStatConfCallCntAllAvg(groupStat)}}</td>
              <td>{{groupStatConfCallCntSelfAvg(groupStat)}}</td>
              <td>{{groupStatConfDurationAvg(groupStat)}}</td>
              <td>{{groupStatCallCntAll(groupStat)}}</td>
              <td>{{groupStatCallDurationAllAvg(groupStat)}}</td>
              <td>{{groupStatCallCntSelf(groupStat)}}</td>
              <td>{{groupStatCallDurationSelfAvg(groupStat)}}</td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
</div>
